@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
  background-color: hsl(0, 0%, 90%);
}

nav {
  display: flex;
  width: 100%;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
}
nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000000;
  font-weight: 300;
}
nav a svg {
  fill: #000000;
}
nav h2 {
  font-size: 2rem;
}

.main-wrapper-container {
  display: flex;
  justify-content: center;
}
.main-wrapper-container .main-wrapper {
  width: min(100% - 2rem, 70rem);
}

.inp-section {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.inp-section .s-head {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.inp-section .s-head svg {
  height: 1.8rem;
  width: 1.8rem;
  fill: black;
}
.inp-section .s-head .txt {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.inp-section .s-body {
  margin-top: 1rem;
}
.inp-section .s-body .inline-inp {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.inp-section .s-body .inline-inp .inp-sec {
  margin-top: 0 !important;
  flex: 2;
}
.inp-section .s-body .inline-inp .inp-sec:last-child {
  flex: 1;
}
.inp-section .s-body .inline-inp .inp-sec:last-child button {
  height: 100%;
  background-color: greenyellow;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem;
}
.inp-section .s-body .inp-sec {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inp-section .s-body .inp-sec:not(:first-child) {
  margin-top: 1rem;
}
.inp-section .s-body .inp-sec label {
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.inp-section .s-body .inp-sec label.req::after {
  content: "*";
  color: red;
}
.inp-section .s-body .inp-sec input {
  padding: 0.5rem 0.6rem;
  border: 1px solid;
  border-color: hsl(0, 0%, 80%);
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: 500;
}
.inp-section .s-body .inp-sec input:focus {
  outline: none;
  border-color: #000000;
}

#item-table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
  border-radius: 0.3rem;
  overflow: hidden;
}
#item-table thead {
  background-color: hsl(171, 100%, 70%);
}
#item-table thead th {
  font-size: 1.1rem;
  padding: 0.5rem 0;
}
#item-table tbody:has(.item-row) #empty-row {
  display: none;
}
#item-table tbody #empty-row td div {
  padding: 0.5rem 0;
  text-align: center;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
#item-table tbody #empty-row td div svg {
  fill: red;
}
#item-table tbody tr {
  background-color: hsl(171, 100%, 95%);
}
#item-table tbody tr:nth-child(even) {
  background-color: hsl(171, 100%, 90%);
}
#item-table tbody td:not(:first-child),
#item-table tbody th:not(:first-child) {
  border-left: 1px solid hsl(171, 100%, 70%);
}
#item-table tbody td {
  font-size: 1.1rem;
  padding: 0.5rem;
}
#item-table tbody td:not(:first-child) {
  text-align: end;
}
#item-table tbody td:nth-child(2)::before {
  content: "₹ ";
  font-weight: 500;
}
#item-table tbody td button {
  padding: 0.5rem 0.6rem;
  background-color: hsl(0, 100%, 90%);
  color: red;
  font-weight: 800;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
#item-table tbody th {
  padding: 0.5rem;
  text-align: end;
  font-size: 1.2rem;
}
#item-table tbody th::before {
  content: "₹ ";
  font-weight: 500;
}
#item-table tfoot {
  background-color: aquamarine;
}
#item-table tfoot td {
  padding: 0.5rem;
  text-align: end;
  font-size: 1.5rem;
  font-weight: 600;
}
#item-table tfoot th {
  text-align: end;
  font-size: 1.5rem;
  font-weight: 600;
}
#item-table tfoot th::before {
  content: "₹ ";
  font-weight: 500;
}

.sub-sec {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.sub-sec a, .sub-sec button {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 500;
  color: black;
}
.sub-sec button {
  background-color: hsl(184, 100%, 50%);
  border: 1px solid black;
  border-radius: 0.5rem;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake {
  animation: shake 0.3s ease-in 0.5s 2;
}/*# sourceMappingURL=newentry.css.map */